<div *ngIf="dataObj">
  <h1>{{dataObj.Name}}</h1>
  <ul class="nav nav-tabs">
    <li class="nav-item dropdown" *ngFor="let item of dataObjDate">
      <a class="nav-link dropdown-toggle" (click)="getItemData(item)" data-toggle="dropdown">{{item.Name}}</a>
    </li>
  </ul>
  <div *ngIf="dataObjData">
    <div *ngFor="let itemType of getTypes()">
      <h2>{{itemType.Name}}</h2>
      <p>
        <button class="btn btn-lg btn-default" *ngFor="let itemFile of getFiles(itemType)" (click)="getContent(itemFile)">
          {{itemFile.Name}}
        </button>
      </p>
    </div>
  </div>
</div>