<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!data"><em>Loading...</em></p>

<table class='table' *ngIf="data">
  <thead>
    <tr>
      <th>Name</th>
      <th>Temp. (C)</th>
      <th>Parent</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td>
        <button (click)="getData(item)">
          <span *ngFor="let lev of numberToArray(item.Level)">&nbsp;&nbsp;&nbsp;&nbsp;</span>
          {{ item.Name }}
        </button>
      </td>
      <td>{{ item.Level }}</td>
      <td>{{ item.Parent }}</td>
      <td>{{ item.Location }}</td>
    </tr>
  </tbody>
</table>